fastapi[standard]
uvicorn
sqlalchemy
psycopg2-binary
pgvector
celery
redis
python-dotenv
google-genai
langchain
langchain-google-genai
langchain-text-splitters
pypdf
requests
youtube-transcript-api
icalendar
python-multipart
watchdog==4.0.1
alembic
pytest
pytest-asyncio
httpx
